header {
  > div.navigation-search {
    > div.search-container > div.d-block > a.drawer-logo-link {
      outline-offset: -3px;
      > img.drawer-logo {
        width: 232px;
        filter: brightness(0) invert(1);
        aspect-ratio: 18/5;
      }
    }
  }
}
