{% extends "core/base.html" %}

{% block headline %}
    Districts
{% endblock headline %}

{% block inner-content %}
    <div class="container p-t-lg">
        <div class="row">
            <div class="col-lg-2 pb-lg-5" role="complementary">
                {% block sidebar %}
                    {% include "districts/navigation.html" %}
                {% endblock sidebar %}
            </div>
            <div class="col-lg-10 pb-lg-5">
                {% block districts-content %}
                    <div class="row">
                        <div class="col-lg-4 border">
                            <h2>Form</h2>
                        </div>
                        <div class="col-lg-8 border">
                            <h2>Chart</h2>
                        </div>
                    </div>
                    <div class="row" style="min-height: 450px;">
                        <div class="col-lg-12 border">
                            <iframe class="w-100 h-100" src="{{ streamlit.url }}/stations--stations?embed=true">
                            </iframe>
                        </div>
                    </div>
                {% endblock districts-content %}
            </div>
        </div>
    </div>
{% endblock inner-content %}
